{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}title{% endblock %}
        </title>
        <link href={% static 'css/style.css' %} rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <ul class="header-links">
                <li>
                    <a href={% url "home-page" %}>Home</a>
                </li>
                <li>
                    <a href={% url "categories-form" %}>Cadastrar Categorias</a>
                </li>
                <li>
                    <a href={% url 'news-form' %}>Cadastrar Noticias</a>
                </li>
            </ul>
            <main>
                {% block main %}{% endblock %}
            </main>
        </header>
    </body>
</html>
